.bg-light{
  width: 100%;
  border-radius: 10px;
}
.title{
  font-weight: 900;
  font-size: 50px;
}
.h-200{
  height: 300px;
}
.icon{
  font-size: 40px;
}
.bg-dark{
  border-radius: 10px;
}
.bg-light{
  border-radius: 10px;
}



.navbar{
  background-color: orangered;
  z-index: 9999;
  font-size: 12px !important;
  letter-spacing: 4px;
  font-family: Montserrat, sans-serif;
}
.navbar-brand{
  color: white;
  float: left;
  /* height: 50px;
  padding: 15px 15px; */
  font-size: 18px;
  line-height: 20px;
}
.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
}
.head{
  background-color: orangered;
  color: white;
  padding: 100px 25px;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
}
.form-group{
  position: relative;
  display: table;
  border-collapse: separate;
}
.about-title{
  font-size: 24px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}
.about-text-1{
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.about-text-2{
  font-size: 19px;
  line-height: 1.375em;
  color: gray;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}
.logo{
  color: orangered;
  font-size: 200px;
}
.glyphicon{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: Glyphicons Halflings;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.logo-small{
  color: orangered;
  font-size: 50px;
}
.bg-grey{
  background-color: gray;
}
.carousel {
  position: relative;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.panel{
  border: 1px solid orangered;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel-heading{
  color: white !important;
  background-color: orangered !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  font-size: 36px;
}
panel-footer{
  padding: 10px 15px;
  border-top: 1px solid grey;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn{
  margin: 15px 0;
  background-color: orangered;
  color: white;
}
.btn-lg{
  width: 100%;
}
.form-control{
  display: block;
  /* height: 34px; */
  padding: 6px 12px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
}
text.form-control{
  height: auto;
}
.pull-right{
  float: right!important;
}
.btn-default{
  color: black;
  background-color: white;
  border: 1px solid grey;
}
.icon-up{
  font-size: 20px;
  margin-bottom: 20px;
  color: orangered;
}

.No-Img{
  height: 200px;
  background-color: gray;
}
.first-line{
  display: flex;
}
.navbar-main{
  height: 50px;
  padding: 4px;
}